#container {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

#title-bar {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 18px;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	display: inline;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	display: inline;
	color: #757575;
}

ul.navigation-list {
	float: right;
	display: inline;
	font-size: 24px;
	margin-top: 30px;
}

ul.navigation-list li {
	display: inline; 
	list-style-type: none;
	padding-right: 20px;
	font-family: 'Ubuntu', sans-serif;
}

ul.navigation-list li a {
	text-decoration: none;
	color: black;
}

ul.navigation-list li a:hover {
	border-bottom: 3px solid;
	color: black;
}

body {
	margin: 0;
	padding: 0;
}

#script-demo {
	/*background: url(gravity_and_explosions.png) no-repeat center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
	display: block;
	margin-top: 25px;
	width: 100%;
	height: 0;
	padding-bottom: 42.86%;
	background-color: #b4bbc3;
	position: relative;
}

canvas {
        width: 100%;
}

#demo-text {
/*	max-width: 1200px;
	margin: 0 auto;*/
	padding-left: 0px;
	margin-bottom: -17px;
	position: absolute;
	bottom: 0;
}

#demo-text h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 80px;
	color: white;

}

#demo-chevrons i {
	font-size: 30px;
	color: white;
}

.blog-post {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.blog-post-text {
	margin-top: 30px;
}

.blog-post-text  {
	font-family: 'Crimson Text';
	font-size: 24px;
	text-align: justify;
}

.blog-post-text a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.blog-post-meta p {
	text-transform: uppercase;
	padding-top: 10px;
	font-family: 'Crimson-Text';
	font-size: 16px;	
}

.footer {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #B2B5B9;
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 3px solid; 
}

#footer-nav-right {
	float: right;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

#footer-nav-left {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}